html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
	background: brown;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.quote{
	width:auto;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #333;
	background: url(../images/background.png);
	position: relative;
}

.quote .content{
	overflow: hidden;
	width: auto;
}

.quote .content .message{
	font-size: 13px;
	position: relative;
}

.quote .content .message > span{
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
}

.quote .content .message > p{
	margin: 3px 10px 5px 21px;
	line-height: 18px;
}

.quote .content .open-quote{
	width: 32px;
	height: 26px;
	display: inline-block;
	margin-right: 12px;
	background: url(../images/open-quote.png) no-repeat;
}

.quote .content .close-quote{
	width: 32px;
	height: 26px;
	display: inline-block;
	float: right;
	background: url(../images/close-quote.png) no-repeat;
}

.quote .content .from{
	margin-top: 23px;
	float: right;
	margin-right: 15px;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #005581;
}

.top-left-corner{
  	width: 16px;
	height: 16px;
  	background: url(../images/top-left.png) no-repeat;
  	position: absolute;
	top: -16px;
  	left: -16px;
}

.top-edge{
	height: 16px;
  	background: url(../images/top-edge.png) repeat-x;
  	position: absolute;
	top: -16px;
	left: 0;
	right: 0;
}

.top-right-corner{
  	width: 16px;
	height: 16px;
  	background: url(../images/top-right.png) no-repeat;
  	position: absolute;
	top: -16px;
  	right: -16px;	
}

.left-edge{
  	width: 16px;
  	background: url(../images/left-edge.png) repeat-y;
  	position: absolute;
	left: -16px;
	top: 0;
	bottom: 0;
}

.right-edge{
  	width: 16px;
  	background: url(../images/right-edge.png) repeat-y;
  	position: absolute;
	right: -16px;
	top: 0;
	bottom: 0;	
}

.bottom-left-corner{
	width: 16px;
	height: 16px;
  	background: url(../images/bottom-left.png) no-repeat;
  	position: absolute;
	bottom: -16px;
  	left: -16px;
}

.bottom-edge{
	height: 16px;
  	background: url(../images/bottom-edge.png) repeat-x;
  	position: absolute;
	bottom: -16px;
	left: 0;
	right: 0;
}

.bottom-right-corner{
	width: 16px;
	height: 16px;
  	background: url(../images/bottom-right.png) no-repeat;
  	position: absolute;
	bottom: -16px;
  	right: -16px;
}

.arrow{
  	position: absolute;
}

.arrow.default-top{
  	background: url(../images/top-arrow-default.png) no-repeat;
}

.arrow.flipped-top{
  	background: url(../images/top-arrow-flipped.png) no-repeat;
}

.arrow.default-right{
	top: 30px;
  	background: url(../images/right-arrow-default.png) no-repeat;
}

.arrow.flipped-right{
	top: 30px;
  	background: url(../images/right-arrow-flipped.png) no-repeat;
}

.arrow.default-bottom{
  	background: url(../images/bottom-arrow-default.png) no-repeat;
}

.arrow.flipped-bottom{
  	background: url(../images/bottom-arrow-flipped.png) no-repeat;
}

.arrow.default-left{
	top: 30px;
  	background: url(../images/left-arrow-default.png) no-repeat;
}

.arrow.flipped-left{
	top: 30px;
  	background: url(../images/left-arrow-flipped.png) no-repeat;
}

.default-top,
.flipped-top{
	top: -34px;
}

.default-right,
.flipped-right{
	right: -33px;
}

.default-bottom,
.flipped-bottom{ 
	bottom: -34px;
}

.default-left,
.flipped-left{
	left: -33px;
}

.default-bottom,
.flipped-bottom{ 
	bottom: -34px;
}

.default-top,
.flipped-top,
.default-bottom,
.flipped-bottom{
	width: 27px;
	height: 19px;
}

.default-right,
.flipped-right,
.default-left,
.flipped-left{
	width: 19px;
	height: 27px;
}

a {

    -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -ms-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

    text-decoration: none;
}

.header {

    text-align: center;
    position: absolute;
    color: #fff;
    width: 100%;
    top: 9%;
}

.header h1 {

    letter-spacing: -1px;s
    font-weight: 300;
    font-size: 36px;
    margin: 0;
}

.header h2 {

    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    margin: 0;
}